.cardbg {
  position: relative;
  width: 300px;
  height: 500px;
  margin: 25px auto;
  border: 2px solid #000000;
  border-radius: 15px;
}
.glassbg {
  position: absolute;
  width: 300px;
  height: 100%;
  border-radius: 15px;
}
.half-window {
  width: 100%;
  height: 50%;
  margin-top: 84%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(120%) blur(8px);
  border-radius: 15px;
  border-top: 2px solid #ffffff;
  border-bottom: 0px;
  text-align: center;
}
.singer-name {
  background-color: transparent;
  color: #ffffff;
  line-height: 15px;
  padding-top: 10px;
  font-size: 15px;
}
.singer-name h5 {
  margin-top: 10px;
}
.location {
  display: flex;
  color: #ffffff;
  padding: 4px 10px;
  margin-top: 40px;
}

.event-booking {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 4px 10px;
}
.image-grid {
  width: 100%;
  height: 28%;
  margin: 0 auto;
}
.images {
  width: 50px;
  height: 50px;
  margin: 5px 5px;
  border-radius: 10px;
}
.select-btn {
  background-color: black;
  color: white;
  width: 100%;
  height: 16%;
  margin-bottom: 0px;
  cursor: pointer;
  border: none;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.selected-btn {
  background-color: grey !important;
}
